.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    color: $main-color;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin-bottom: 0;
}